:root {
  --white-color: #e9e7e7;
  --black-color: #232323;
  --grey-color: #c4c4c4;

  --width-of-slide: 1440px;
  --height-of-slide: 825px;
  --width-of-slide-inner: 1200px;
  --height-of-slide-inner: 585px;

  --font-Cardo: 'Cardo', serif;
  --font-Lato: 'Lato', sans-serif;

  --top-layer: 1000;
  --bottom-layer: 1;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--black-color);
}

/* || LANDING HOLDER */

.landing-holder {
  width: 100%;
  background-color: var(--white-color);
}

.container {
  width: 100%;
  height: var(--height-of-slide);
  position: relative;
  overflow: hidden;
}

/* || slide */

.slide {
  width: 100%;
  max-width: var(--width-of-slide);
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.slide_position_centered {
  margin: 0 auto;
}

.slide__inner {
  width: var(--width-of-slide-inner);
  height: var(--height-of-slide-inner);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: var(--top-layer);
}

.slide__inner_positioned {
  margin: 80px 120px 160px 120px;
}

.slide__right-scratch {
  position: absolute;
  right: -10px;
  bottom: -10%;
}

.slide__left-scratch {
  position: absolute;
  left: 0;
  bottom: -45%;
  z-index: var(--bottom-layer);
}

/* || navigation */

.navigation {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__links {
  width: 100%;
  max-width: 475px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.navigation__link-wrapper {
  max-width: 85px;
  width: 100%;
  height: 100%;
}

.navigation__link {
  font-family: var(--font-Lato);
  color: var(--black-color);
  font-weight: 300;
  font-size: 28px;
  display: block;
  text-align: center;
  line-height: 60px;
  text-decoration: none;
}

.navigation__link:hover {
  font-weight: 900;
}

/* || button */

.button {
  height: 60px;
  border-radius: 7px;
  border-width: 3px;
  border-style: solid;
  cursor: pointer;
  padding: 0 60px;

  font-family: var(--font-Lato);
  font-size: 28px;
  font-weight: 900;

  color: var(--black-color);
  border-color: var(--black-color);
  background-color: var(--white-color);
}

.button:hover {
  color: var(--white-color);
  border-color: var(--white-color);
  background-color: var(--black-color);
}

.button_reversed {
  color: var(--white-color);
  border-color: var(--white-color);
  background-color: var(--black-color);
}

.button_reversed:hover {
  color: var(--black-color);
  border-color: var(--black-color);
  background-color: var(--white-color);
}

.button__reserve-tickets {
  height: 55px;
}

/* || content */

.content-intro {
  width: 100%;
  height: 415px;
  display: flex;
  justify-content: space-between;
}

.text-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}

.text-block_positioned {
  margin-right: 100px;
}

.text-block__appeal {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

.text-block__title {
  color: var(--black-color);
  font-family: var(--font-Cardo);
  font-weight: 700;
  font-size: 81px;
  line-height: 1;
  letter-spacing: -3px;
}

.text-block__paragraph {
  color: var(--black-color);
  font-family: var(--font-Lato);
  font-weight: 400;
  font-size: 17px;
}

.text-block__paragraph_positioned{
  margin-top: 25px;
}

.picture_dimmed {
  filter: brightness(80%);
}

/* 2 ////////////////////////////////*/

.container_shorten {
  height: 390px;
  background-color: var(--black-color);
  z-index: var(--bottom-layer);
}

.slide_narrower {
  width: 450px;
}

.slide-narrower__inner {
  width: 100%;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.slide-narrower__inner_positioned {
  margin: 50px auto;
}

.button_my-travel-logs {
  height: 55px;
}

.text-block_shorten {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.text-block__appeal_shorten {
  align-items: center;
  text-align: center;
}

.text-block__title_shorten {
  color: var(--white-color);
  font-family: var(--font-Cardo);
  font-weight: 700;
  font-size: 55px;
  line-height: 1;
  letter-spacing: -3px;
}

.text-block__paragraph_shorten {
  color: var(--white-color);
}

.slide-narrower__left-scratch {
  position: absolute;
  z-index: var(--top-layer);
  top: 20%;
  left: 0;
}

.slide-narrower__right-scratch {
  position: absolute;
  z-index: var(--top-layer);
  top: 70%;
  right: 0;
}

/* 3 ////////////////////////////////*/

.slide__inner_third {
  width: 100%;
  max-width: 1210px;
  height: 480px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
}

.slide__column {
  width: 363px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.slide-column__title {
  color: var(--black-color);
  font-family: var(--font-Cardo);
  font-weight: 700;
  font-size: 25px;
  line-height: 1;
}

.column-description:before {
  content: "";
  display: block;
  width: 55px;
  height: 3px;
  background-color: var(--black-color);
  margin: 35px 0;
}

.third-slide__left-scratch {
  position: absolute;
  z-index: var(--top-layer);
  top: 0%;
  left: 0;
}

.third-slide__right-scratch {
  position: absolute;
  z-index: var(--top-layer);
  top: 45%;
  right: 0;
}

/* 4 ////////////////////////////*/

.fourth-slide {
  flex-direction: column;
}

.jet-position {
  margin-bottom: 70px;
}

.fourth-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.fourth-title {
  color: var(--black-color);
  font-family: var(--font-Cardo);
  font-weight: 700;
  font-size: 98px;
  line-height: 1;
  letter-spacing: -3px;
  text-align: center;
}

.never-word{
  text-decoration: underline;
  font-style: italic;
  text-decoration-thickness: 5px;
}

.fourth__paragraph {
  color: var(--black-color);
  font-family: var(--font-Lato);
  font-weight: 700;
  font-size: 25px;
}

.fourth__paragraph_positioned{
  margin-top: 80px;
}

.fourth-slide__left-scratch {
  position: absolute;
  z-index: var(--top-layer);
  bottom: 10%;
  left: 10%;
}

.fourth-slide__right-scratch {
  position: absolute;
  z-index: var(--top-layer);
  top: 0%;
  right: 0%;
}

/* 5 ////////////////////////////*/

.grid-container {
  width: 1210px;
  height: 776px;

  display: grid;
  grid-template-columns: 564px 600px;
  grid-template-rows: 322px 238px 1fr;
  column-gap: 45px;
  row-gap: 80px;
  position: relative;
}

.arrow {
  margin-top: -30px;
  position: absolute;
  bottom: 30px;
  right: 0;
  cursor: pointer;
}

.grid-image-1 {
  grid-row: 1 / span 3;
}

.fifth-text-content {
  display:inline-flex;
  justify-content: space-between;
  align-items: flex-start;
}

.fifth-title {
  color: var(--black-color);
  font-family: var(--font-Cardo);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.38;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.fifth__paragraph {
  color: var(--black-color);
  font-family: var(--font-Lato);
  font-weight: 700;
  font-size: 16px;
  margin-left: 50px;
}

/* 6 ////////////////////////////*/

.darkened {
  color: var(--white-color);
  background-color: var(--black-color);
}

.sixth-slide {
  justify-content: flex-end;
}

.sixth-inner {
  background-color: transparent;
  color: var(--white-color);
  width: 1325px;
  height: 562px;

  display: flex;
  justify-content: space-between;
}

.sixth-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  width: 100%;
  max-width: 460px;
}

.sixth-main-title {
  color: var(--white-color);
  font-family: var(--font-Cardo);
  font-weight: 700;
  font-size: 55px;
}

.description_item:not(:last-child) {
  margin-bottom: 60px;
}

.item__title {
  color: var(--white-color);
  font-family: var(--font-Lato);
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 20px;
}

.sixth_paragraph {
  color: var(--white-color);
}

.sixth-slide_left_scratch {
  position: absolute;
  bottom: -5%;
  left: 0;
}