:root {
  --width-of-content: 1440px;
  --height-of-slider: 825px;

  --width-of-inner-slider: 1200px;
  --height-of-inner-slider: 585px;

  --height-of-navigation: 60px;
  --height-of-slider-content: 415px;

  --background-color: #e9e7e7;
  --black-color: #232323;

  --font-cardo: 'Cardo', serif;
  --font-lato: 'Lato', sans-serif;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--black-color);
}


/* || HOLDER */

.general-holder {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
}

.general-holder__wrapper {
  width: 100%;
  max-width: var(--width-of-conte);
}


/* || slider */

.slider {
  width: 100%;
  height: var(--height-of-slider);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.slider__inner {
  position: relative;
  width: var(--width-of-inner-slider);
  height: var(--height-of-inner-slider);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}

.slider__inner_modificator {
  margin: 80px 120px 160px 120px;
}

.navigation {
  width: 100%;
  height: var(--height-of-navigation);
  display: flex;
  justify-content: space-between;
}


.navigation__links {
  max-width: 475px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.navigation__link-holder {
  max-width: 85px;
  width: 100%;
}

.navigation__link {
  display: block;
  text-align: center;
  line-height: var(--height-of-navigation);
}

.navigation__link {
  text-decoration: none;
  font-family: var(--font-lato);
  color: var(--black-color);
  font-weight: 300;
  font-size: 28px;
}

.navigation__link:hover {
  font-weight: 900;
}


.button {
  display: inline;
  height: var(--height-of-navigation);
  border-radius: 7px;
  border: 3px solid var(--black-color);
  cursor: pointer;
  background-color: var(--background-color);
  font-family: var(--font-lato);
  font-size: 28px;
  font-weight: 900;
  padding: 0 60px;
}

.button:hover {
  background-color: var(--black-color);
  color: var(--background-color);
  border-color: var(--background-color);
}

.slider__content {
  height: var(--height-of-slider-content);
  display: flex;
  justify-content: space-between;
}

.slider__text-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 100px;
}

.slider__title {
  font-family: var(--font-cardo);
  font-weight: 700;
  font-size: 81px;
  line-height: 1;
  letter-spacing: -3px;
}

.slider__paragraph {
  margin-top: 25px;
  font-family: var(--font-lato);
  font-weight: 400;
  font-size: 17px;
}

.reserve-tickets {
  border: 3px solid var(--background-color);
  background-color: var(--black-color);
  color: var(--background-color);
  height: var(--height-of-navigation);
  align-self: flex-start;
  height: 55px;
}

.reserve-tickets:hover{
  background-color: var(--background-color);
  color: var(--black-color);
  border-color: var(--black-color);
}

.slider__right-scratch {
  position: absolute;
  right: -10px;
  bottom: -10%;
}

.slider__left-scratch {
  position: absolute;
  left: 0;
  bottom: -45%;
  z-index: 1;
}